

<div class="text-center">
    <div>
        <h1 class="display-4">Te rog să te loghezi.</h1>
        <form action="AdmCheckLogIn" method="post">
            <label>ID:</label><br>
            <input type="text" id="ID" name="id" required>
            <br>
            <label>Parolă:</label><br>
            <input type="text" id="Pass" name="pass" required>
            <br>
            <br />
            <input type="submit" id="logID" name="submitName" value="Log in" />
        </form>
    </div>



</div>
