@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}






<div class="text-center">
    <h1 class="display-4">
        Rezervarea nu a putut fi ștearsă sau nu există.
    </h1>
    <a href="https://localhost:7044/Home/AdmCheckLogIn">
        <button style="
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">

            Înapoi la panoul admin

        </button>
    </a>

</div>
