

<div class="text-center">
    <h1 class="display-4">
        ID-ul sau parola sunt greșite. Te rugăm să încerci din nou.
    </h1>
    <br />
    <a href="https://localhost:7044/Home/Adm">
        <button style="
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">

            Încearcă din nou

        </button>
    </a>
    <br />
    <br />
    <a href="https://localhost:7044">
        <button style="
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">

            Înapoi acasă

        </button>
    </a>

</div>
