

<div class="text-center">

    <!--Inchiriaza-->
    <div id="rentDiv">
        <h1 class="display-4">Sunt mai Eco cu trotineta</h1>
        <p>Vezi ce trotinete electrice sunt disponibile in orasul Timisoara si cum poti sa inchiriezi chiar tu una.</p>
        <a href="https://localhost:7044/Home/Rent">
            <button style="
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">

                Vreau trotineta

            </button>
        </a>
    </div>
    

    <br />
    <br />
    <br />

    
    <!--Centre-->
    <div id="centersDiv">
        <div>
            <h1 class="display-4">Centrele noastre</h1>
            <br />
            <a href="https://maps.app.goo.gl/WaNV5ahCxvQxnCQu9"
               style="float:left; margin-left: 150px;">
                <button style="
        width: 150px;
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">
                    Iulius Mall
                </button>
            </a>

            <a href="https://maps.app.goo.gl/tu5fcs9bUTYf6o8fA">
                <button style="
        width: 150px;
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">
                    Shopping City
                </button>
            </a>

            <a href="https://maps.app.goo.gl/gXjDJLvzAt5AbpPs7" style="float:right; margin-right: 150px;">
                <button style="
        width: 150px;
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">
                    Centru
                </button>
            </a>

        </div>

        <br />
        <br />
        <br />

        <div>
            <a href="https://maps.app.goo.gl/jR7Yfk6RQGUXoVcr7" style="float:left; margin-left: 150px;">
                <button style="
        width: 150px;
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">
                    Soarelui
                </button>
            </a>

            <a href="https://maps.app.goo.gl/ZXv4rTuLMwhsTZDSA">
                <button style="
        width: 150px;
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">
                    Freidorf
                </button>
            </a>

            <a href="https://maps.app.goo.gl/VAhB5BgeqEFThWxv7" style="float:right; margin-right: 150px;">
                <button style="
        width: 150px;
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">
                    Lipovei
                </button>
            </a>

        </div>

    </div>
    
    <br />
    <br />
    <br />
    
</div>
