

<div class="text-center">
    <h1 class="display-4">Rezervarea a fost realizată cu succes! Poți merge la unul din centrele noastre de preluare pentru a-ți ridica trotineta. Verifică secțiunea 'Centrele noastre' 
        din pagina 'Acasă' pentru a vedea disponibilitatea trotinetelor.
    </h1>
    <a href="https://localhost:7044">
        <button style="
        background-color: limegreen;
        box-shadow: none;
        border:thin;
        border-radius: 20px;
        padding: 15px;
        ">

            Înapoi acasă

        </button>
    </a>

</div>
