@{
    ViewData["Title"] = "Condu în siguranță";
}
<!-- <h1>@ViewData["Title"]</h1> -->

<div>
    <h1 class="display-4">Tu stii cum sa circuli in siguranta?</h1>

    <br>

    <h3>In aceasta sectiune vei gasi cateva sfaturi care te vor ajuta sa ramai in siguranta pe trotineta.</h3>

    <br />

    <h4>Ehipament</h4>
    <p>
        Accidente pot apărea chiar și atunci când ai luat toate măsurile de precauție și ai fost cât se poate de preventiv. De aceea, este esențial să porți echipament de protecție personală,
        iar importanța lui o vei realiza atunci când vei suferi primul accident, chiar dacă cu siguranță nu îți dorești să treci prin asemenea evenimente.

        Este esențial să porti echipament de protecție, de aceea nu ar trebui să mergi cu trotineta fără cască și echipament pentru coate, genunchi și nu numai.
        Mănușile, de asemenea, îți oferă o aderență mai bună, astfel vei avea mai mult control.
    </p>

    <h4>Verifică anvelopele</h4>
    <p>
        E important să inspectezi periodic starea anvelopelor, deoarece acestea se deteriorează în timp, ceea ce poate duce la scăderea performanțelor lor.
        Verifică gradul de uzură al anvelopelor și asigură-te că presiunea lor este în parametrii recomandați. Dacă este necesar, înlocuiește-le.
        Doar astfel poți garanta cele mai bune condiții de siguranță pentru tine.
    </p>

    <h4>Condu prudent</h4>
    <p>
        Fii mereu vigilent pe drum și constientizează riscurile asociate infrastructurii din România. Suntem cu toții conștienți de calitatea precară a unor tronsoane de drum,
        așa că este vital să fii mereu atent la potențialele obstacole care pot apărea pe traseul tău. Menține o concentrare sporită și o viteză moderată pentru a putea evita gropile și alte provocări.
        De asemenea, atunci când carosabilul este umed, este esențial să circuli cu o viteză redusă, deoarece riscurile sunt mult mai mari în aceste condiții.

        Acordă o atenție deosebită atunci când folosești scuterul electric pe suprafețe alunecoase și umede, cum ar fi plăcile de marmură, suprafețele metalice,
        străzile udate și trotuarele noroioase. Acestea reprezintă adevărate pericole atunci când utilizezi trotineta electrică.
    </p>

    <h4>Ai grijă la calitatea trotinetei</h4>
    <p>
        Nu toate trotinetele sunt sigure. Ba chiar multe dintre modelele disponibile pe piață pot să pună în pericol utilizatorii, motiv pentru care nu ar trebui să alegi un model aleator.
        Sfatul nostru este să consideri achiziționarea unei trotinete de la un producător de încredere și să o cumperi de la un magazin cu o reputație solidă pe piață.
    </p>
</div>




