

<div class="text-center">
    <h1 class="display-4">
        Bun venit în panul de administrare. De aici poți șterge rezervări sau le poți modifica.
    </h1>
    <div>
        <div>
            <br />
            <h2>Șterge rezervarea cu numărul de telefon selectat.</h2>
            <form action="DeleteRecordRequest" method="post">
                <label>Telefon:</label><br>
                <input type="text" id="ID" name="telefonStergere" required>
                <br />
                <br />
                <input type="submit" id="submitStergere" name="stergereNume" value="Șterge" />
            </form>
        </div>
    </div>

</div>

